src
coverage
*.yml
.github
.vscode
.prettierrc
*.log
*.tgz
*.config.js
.eslintrc.js
.dockerignore
.eslintrc.jsDockerfile
Makefile
Dockerfile

**/*.spec.js
dist/**/*.ts
dist/**/*.d.js
!dist/**/*.d.ts
**/*.spec.d.ts
dist/test/importTestTarget/**/*
